*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%; /*base font size as 10px*/
  font-family: "Lato", sans-serif;
  background-color: #efefef;
  box-sizing: border-box;
  margin: 0 2rem;
}

.header {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  font-size: 1.8rem;
  font-weight: 300;
}

.bithday__cards {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.birthday__card {
  min-height: 12.7rem;
  background-color: #fff;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card__header {
  background-color: rgb(177, 156, 217);
  color: white;
  padding: 0.6rem 1rem;
  text-align: right;
  height: 20%;
}

.card__header > h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-left: auto;
}

.card__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
}

.card__data {
  position: relative;
  padding-top: 100%;
  background-color: rgb(243, 169, 9);
}

.card__data > h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__config {
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
}

.text__area {
  width: 60%;
  height: 17rem;
}

.config__right {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.config__heading {
  font-size: 1.5rem;
  font-weight: 300;
}

.config__input {
  margin: 0.5rem 0;
  padding: 0.8rem 0.4rem;
  width: 15rem;
  font-family: inherit;
  font-size: 1.2rem;
}

.btn__primary {
  margin: 1.5rem 0;
  background-color: rgb(8, 128, 240);
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.img__notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .section__config {
    flex-direction: column;
  }
}
